<template>
    <div class="card-item">
        <h4 class="card-item__h4">{{ name }}</h4>
        <p class="card-item__p">{{ description }}</p>
        <h5 class="card-item__h5">{{ category }}</h5>
    </div>
</template>

<style lang="scss">
    .card-item {
        background-color: lightblue;
        color: black;
        padding: 15px;
        width: 300px;
        height: 450px;
        &__h4 {
            font-weight: bold;
            text-align: center;
        }
        &__p {
            text-align: left;
        }
        &__h5 {
            text-align: right;
            text-decoration: underline;
        }
    }
</style>

<script>
    export default {
        props: {
            name: String,
            description: String,
            category: String
        }
    }
</script>