<template>
    <div class="card-menu">
        <card-item v-for="card in cards" :key="card.id" :name="card.name" :description="card.description" :category="card.category" />
    </div>
</template>

<script>
    import axios from "axios";
    import CardItem from './CardItem';

    export default {
        components: {
            CardItem
        },
        data(){
            return {
                cards: []
            };
        },
        created() {
            axios
                .get("http://localhost:1337/cards")
                .then(response => this.cards = response.data)
                .catch(err => console.log(err));
        }
    };
</script>