<template>
    <div id="contact-form">
        <form action="" method="post" novalidate>
            <fieldset>
            <label class="label" for="name">Your Name</label>
            <input class="input" type="text" v-model="form.name" :class="{'invalid-field': error.name}">
            
            <label class="label" for="company">Company Name</label>
            <input class="input" type="text" v-model="form.company" :class="{'invalid-field': error.company}">
            
            <label class="label" for="email">E-mail</label>
            <input class="input" type="email" name="email" id="email" v-model="form.email" :class="{'invalid-field': error.email}">
            
            <label class="label" for="phonenr">Phone number</label>
            <input class="input" type="text" v-model="form.phonenr" :class="{'invalid-field': error.phonenr}">

            <label for="terms">
                <input type="checkbox" name="terms" id="terms" v-model="form.terms">
                I agree to the <a href="#">terms and conditions</a>.
            </label>

            <button type="submit" id="submit-btn">Submit</button>
            </fieldset>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    name: "",
                    company: "",                    
                    email: "",
                    phonenr: "",
                    terms: false
                },
                error: {
                    name: "",
                    company: "",                    
                    email: "",
                    phonenr: ""
                }
            }
        },
        methods: {
            validateForm() {
                this.error = {};
                if (!this.form.name) {
                    this.error.name = "Please fill in your name";
                } 

                if (!this.form.email) {
                    this.error.email = "Please fill in your e-mail address";
                }
                else if (!this.validateEmail(this.form.email)) {
                    this.error.email = "Please enter a correct email address";
                }

                if (!this.form.phonenr) {
                    this.error.phonenr = "Please fill in your phone number";
                }
                if (!this.form.terms) {
                    this.error.terms = "You must accept the terms and conditions first";
                }
            },
            validateEmail(email) {
                //eslint-disable-next-line
                var val = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return val.test(email);
            }
        }
    }
</script>