<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <CardMenu />
  </div>
</template>

<script>
import CardMenu from "@/components/CardMenu.vue";

export default {
  name: "Home",
  components: {
    CardMenu
  }
};
</script>
